!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Cdastro de cliente</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Imobiliária Adimo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/cliente/cadastro}">Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/casa/favorito}">Favoritos</a>
                    </li>
                </ul>
                <form class="d-flex" th:action="@{/}" method="get" autocomplete="off">
                    <input class="form-control me-2" name="localidade" id="busca" type="search" placeholder="Busca por localidade" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>

	<div class="container my-2">
		<h2>Cadastro de Locátario</h2>
		<form th:action="@{/locatario/registro}" th:object="${cli}" method="POST">
		
			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger"></span>
			<input type="text" th:field="*{nome}" placeholder="Nome" class="form-control mb-4 col-4">
			
			<span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="text-danger"></span>
			<input type="text" th:field="*{cpf}" placeholder="CPF" class="form-control mb-4 col-4">
			
			<span th:if="${#fields.hasErrors('logradouro')}" th:errors="*{logradouro}" class="text-danger"></span>
			<input type="text" th:field="*{logradouro}" placeholder="Logradouro" class="form-control mb-4 col-4">
			
			<span th:if="${#fields.hasErrors('complemento')}" th:errors="*{complemento}" class="text-danger"></span>
			<input type="text" th:field="*{complemento}" placeholder="Complemento" class="form-control mb-4 col-4">
			
			<span th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}" class="text-danger"></span>
			<input type="text" th:field="*{cidade}" placeholder="Cidade" class="form-control mb-4 col-4">
			
			<span th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}" class="text-danger"></span>
			<input type="text" th:field="*{estado}" placeholder="Estado"
				class="form-control mb-4 col-4">
			<button type="submit" class="btn btn-info col-2">Salvar</button>
		</form>
		<hr>
		<a th:href="@{/}">Retornar para a home</a>
	</div>
</body>
</html>